<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wartungsarbeiten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tocco AG">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex"/>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .container {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .jumbotron {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .jumbotron h1 {
            font-size: 36px;
        }

        .jumbotron h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .jumbotron p {
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-wrench" aria-hidden="true"></i> Wartungsarbeiten</h1>
        <h2>Diese Seite ist im Moment nicht erreichbar.</h2>
        <p>{{{TEXT_DE}}} Wir bitten Sie um Verständnis.</p>
    </div>
    <div class="jumbotron">
        <h1><i class="fa fa-wrench" aria-hidden="true"></i> Maintenance</h1>
        <h2>This page is currently not available.</h2>
        <p>{{{TEXT_EN}}} Thank you.</p>
    </div>
    <div class="jumbotron">
        <h1><i class="fa fa-wrench" aria-hidden="true"></i> Opération de maintenance</h1>
        <h2>Cette page n'est pas disponible pour le moment.</h2>
        <p>{{{TEXT_FR}}} Nous vous demandons votre compréhension.</p>
    </div>
    <div class="jumbotron">
        <h1><i class="fa fa-wrench" aria-hidden="true"></i> Lavori di manutenzione</h1>
        <h2>Questa pagina non è disponibile al momento.</h2>
        <p>{{{TEXT_IT}}} Chiediamo la vostra comprensione.</p>
    </div>
</div>
</body>
</html>
